<h1>Button is: <%= @button %></h1>
<p>B created at:<%= @button.created_at %></p>
<p>B name: <%= @button.name %></p>


<%= form_with model: @button, url: button_path, data: {testid: "update_name_form"} do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <label for="timezone">Timezone</label>
        <%= select_tag(
        "timezone",
        options_for_select([nil, *ActiveSupport::TimeZone.all.map(&:name)]),
        class: "form-control"
        ) 
    %>
  </div>
  <div class="form-group">
    <label for="mode">Mode</label>
    <%= select_tag(
        "mode",
        options_for_select([nil, *Mode.all.pluck(:name)]),
        class: "form-control",
        ) 
    %>
  </div>


  <%= f.submit(
    "update name".to_s,
    class: "btn btn-primary form-control",
    data: {
      "disable-with": '<i class="fa fa-spinner fa-spin"></i>',
          }) %>
<% end %>