<h1>Software Button</h1>

<%= form_with model: @button, url: software_button_path do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :site %>
    <%= f.text_field :site, class: "form-control" %>
  </div>
  <p>Home WiFi</p>
  <div class="form-group">
    <%= f.label :ssid, "SSID" %>
    <%= f.text_field :ssid, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.text_field :password, class: "form-control" %>
  </div>

  <%= f.submit(
    :register,
    class: "btn btn-primary form-control",
    data: {
      "disable-with": '<i class="fa fa-spinner fa-spin"></i>',
    }) %>
<% end %>
