<h1>Software Button</h1>

<%= form_for @button, url: software_buttons_path do |f| %>
  <div class="form-group">
  <%= f.label :email %>
  <%= f.text_field :email, class: "form-control" %>
  <%= f.label :site %>
  <%= f.text_field :site, class: "form-control" %>
  <%= f.label :external_reference %>
  <%= f.text_field :external_reference, class: "form-control" %>
  <%= f.button :register, class: "form-control" %>
  </div>
<% end %>
