<h1>Software Button</h1>

<%= form_for @button, url: software_button_path do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :site %>
    <%= f.text_field :site, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :external_reference %>
    <%= f.text_field :external_reference, class: "form-control" %>
  </div>

  <%= f.button(
    :register,
    class: "btn btn-primary form-control",
    data: {
      "disable-with": '<i class="fa fa-spinner fa-spin"></i>',
    }) %>
<% end %>
