<% content_for :pre_container do %>
  <div class="jumbotron bg-secondary text-white">
    <div class="container">
      <div>
        <h1 class="display-text stronger">Remote Button</h1>
      </div>
      <p class="display-text">
        Press the internet wherever you are
      </p>
      <div>
      <%= link_to 'Sign up for free', new_user_registration_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>

<% if Flipper.enabled?(:b_e_n_s_a_y_s) %>
  <p style="font-size: 10em">
    B E N S A Y S
  </p>
<% end %>

<section data-testid="demo-section">
  <div class="card">
    <div class="card-header" data-testid="title">
      Demo software button
    </div>
    <div class="card-body">
      <%= content_tag(
        :div,
        "",
        data: {
          app: "demo-button-app",
          config: {
            title: "Demo Button App",
            demoButtonId: System::DemoButton::TEMPLATES[:demo_button][:id]
          }.to_json,
        }
      )%>
      <%= javascript_pack_tag "demo_button_app" %>
    </div>
    <div class="card-footer" data-testid="footer">
      Note: other users may be interacting with this same button and affect the outcome.
    </div>
  </div>
</section>

<% if Flipper.enabled?(:beta_button, current_user) %>
  <div class="col-md-6 mx-auto">
    <p style="font-size: 4em">
      Congratulations!
    </p>
    <p class="center-text">
      <strong>
        you are part of the Beta
      </strong>
    </p>
    <p>
      <i>more information coming your way soon</i>
    </p>
  </div>
<% else %>
  <div class="col-md-6 mx-auto">
    <p>
      <i>Sorry not part of beta yet</i>
    </p>
  </div>
<% end %>

<% if signed_in? %>
  <!-- content for siged in users -->
  <p>We hope you will shortly be accepted into our beta program</p>
<% else %>
  <div class="col-md-6 mx-auto">
    <%= form_for(@user, url: registration_path(@user)) do |f| %>
    <%= render "devise/shared/error_messages", resource: @user %>

    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email" %>
    </div>

    <%= f.hidden_field :password, autocomplete: "new-password" %>

    <%= f.hidden_field :password_confirmation, autocomplete: "new-password" %>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
<% end %>
