<% if Flipper.enabled?(:b_e_n_s_a_y_s) %>
  <p style="font-size: 10em">
    B E N S A Y S
  </p>
<% end %>

<% if signed_in? %>
  <!-- content for siged in users -->
  <p>We hope you will shortly be accepted into our beta program</p>
<% else %>
  <div class="col-md-6 mx-auto">
    <%= form_for(@user, url: registration_path(@user)) do |f| %>
    <%= render "devise/shared/error_messages", resource: @user %>

    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email" %>
    </div>

    <%= f.hidden_field :password, autocomplete: "new-password" %>

    <%= f.hidden_field :password_confirmation, autocomplete: "new-password" %>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
<% end %>
