<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <%= image_tag(
            "remote_button_drawn_01.png",
            size: "50x50",
            alt: "Remote Button",
            data: {
              testid: "remote-button-image"
            }
            ) %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="" data-oldclass="navbar-toggler-icon">
      <%= image_tag(
              "on.png",
              size: "30x30",
              alt: "placeholder for menu bar",
              data: {
                testid: "placeholder-image"
              }
              ) %>
    </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Register <span class="sr-only">(current)</span></a>
      <%= link_to home_build_path, class: "nav-item nav-link" do %>
        Build
      <% end %>
      <%= link_to home_server_path, class: "nav-item nav-link" do %>
        Server
      <% end %>
      <a class="nav-item nav-link" href="#">Guide</a>
      <a class="nav-item nav-link" href="#">Contact</a>
        <% if @button && !@button.new_record? %>
          <a class="nav-item nav-link" href="<%= button_path(@button) %>">Button</a>
        </li>
      <% end %>
    </div>
  </div>
</nav>